---
import LayoutSideBar from "@/layouts/LayoutSideBar.astro";
const userName = Astro.locals.user?.name || "Usuario";

---

<LayoutSideBar>
  <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-8 max-w-2xl mx-auto mt-10">
    <h1 class="text-4xl font-bold text-gray-800 dark:text-white text-center mb-6">¡Bienvenido al Sistema de Notas UAR!</h1>
    <p class="text-lg text-gray-600 dark:text-gray-300 text-center mb-4">Hola, <span class="font-semibold">{userName}</span>. Nos alegra tenerte aquí.</p>
    <p class="text-md text-gray-500 dark:text-gray-400 text-center mb-8">Explora las opciones en el menú lateral para comenzar a gestionar tus calificaciones y descubrir todas las funcionalidades que hemos preparado para ti.</p>
    
    <div class="bg-yellow-100 dark:bg-yellow-900 border-l-4 dark:border-yellow-500 text-yellow-700 p-4 rounded-md" role="alert">
      <p class="font-bold dark:text-yellow-100">Atención</p>
      <p class="dark:text-yellow-100">Este sistema se encuentra actualmente en fase de desarrollo. Agradecemos tu paciencia y te invitamos a reportar cualquier error o inconveniente que encuentres. ¡Tu feedback es muy valioso!</p>
    </div>
  </div>
</LayoutSideBar>
