---
const props = Astro.props;
const {studentName, studentId, career, date} = props;
---

<main class="text-gray-700 text-lg leading-relaxed">
    <p class="mb-6">
        Por medio de la presente se hace constar que el/la estudiante <span class="font-semibold">{studentName}</span>, 
        titular de la cédula de identidad <span class="font-semibold">{studentId}</span>, es alumno(a) regular 
        de esta casa de estudios en la carrera de <span class="font-semibold">{career}</span>.
    </p>
    <p>
        Constancia que se expide a petición de la parte interesada en Caracas, a los <span class="font-semibold">{date.split(' ')[0]}</span> días 
        del mes de <span class="font-semibold">{date.split(' ')[2]}</span> del año <span class="font-semibold">{date.split(' ')[4]}</span>.
    </p>
</main>