---
import "../../../styles/global.css";
import Sidebar from "@/components/sidebar";
import Layout from "@/layouts/Layout.astro";

---

<Layout title="UAR | Grades">
  <Sidebar client:load>
    <div>
      <h1>Notas</h1>
    </div>
  </Sidebar>

</Layout>
