---
import StudentCard from "./StudentCard.astro";


---
  
    <div class="flex flex-col justify-center items-center h-full">
      <h2 class="text-xl font-semibold mb-4">Carne estudiantil</h2>
      <StudentCard
        name="Anthony"
        lastName="Ruiz"
        studentId="12345678"
        program="Ingeniería en Informática"
        campus="Principal"
        universityName="UNIVERSIDAD AUTÓNOMA RUIZ"

      />
      <slot name="download-button" />
    </div>



